{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
        <form action="/" method="GET">
            <div class="form-group">
                {% if query_tags %}
                    <input type="text" id="tags" name="tags" class="form-control" data-role="tagsinput"
                           value={{query_tags}}>
                {% else %}
                    <input type="text" id="tags" name="tags" class="form-control" data-role="tagsinput">
                {% endif %}
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>

        {% if snippets %}
            {% for snippet in snippets %}
                <div style="border: 1px solid #ddd;
                            border-radius: 3px;
                            padding: 3px;
                            margin: 10px;
                            text-align: left;">
                    {% if user and snippet.user_id == user.id %}
                        <a href="{{ url_for('edit', snippet_id=snippet.id) }}" title="edit">
                            <span class="fa fa-pencil"></span>
                        </a>
                    {% endif %}
                    {% if user and not snippet.user_id == user.id %}
                        {% if snippet in user.user_bookmarks %}
                            <a href="{{ url_for('bookmark_action', snippet_id=snippet.id, action='remove') }}" title="remove from bookmarks">
                                <span class="fa fa-bookmark"></span>
                            </a>
                        {% else %}
                            <a href="{{ url_for('bookmark_action', snippet_id=snippet.id, action='add') }}" title="add to bookmarks">
                                <span class="fa fa-bookmark-o"></span>
                            </a>
                        {% endif %}
                    {% endif %}
                    <a href="{{ url_for('expand', snippet_id=snippet.id) }}" title="expand snippet">
                        <span class="lead">{{snippet.name}}</span>
                    </a>
                    <textarea id="{{snippet.id}}"></textarea>
                    <div class="uncheck">
                        <input type="text" id="{{snippet.id}}tags" data-role="tagsinput" class="static"
                               value={{snippet.get_tag_string()|tojson}} readonly>
                    </div>
                    <script>
                        $('#{{snippet.id}}tags').prop("disabled", true);
                        var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("{{snippet.id|tojson}}"), {
                            mode: {{snippet.mode|tojson}},
                            lineNumbers: true,
                            indentUnit: 4,
                            readOnly: true
                        });
                        myCodeMirror.setSize(null, 100);
                        myCodeMirror.setValue({{snippet.snippet|tojson}});

                    </script>
                </div>
            {% endfor %}
        {% endif %}
        {% if count and count > 10 %}
            {% if page == 1 %}
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item active"><a class="page-link"
                                                            href="#">{{page}}<span class="sr-only">(current)</span></a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="/?tags={{parse.quote(query_tags, safe='')}}&page={{page + 1}}">{{page+1}}</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="/?tags={{parse.quote(query_tags, safe='')}}&page={{page + 1}}">Next</a></li>
                    </ul>
                </nav>
            {% elif page*10 < count-10 %}
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link"
                                                 href="/?tags={{parse.quote(query_tags, safe='')}}&page={{page - 1}}">Previous</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="/?tags={{parse.quote(query_tags, safe='')}}&page={{page - 1}}">{{page-1}}</a></li>
                        <li class="page-item active"><a class="page-link"
                                                        href="#">{{page}}<span class="sr-only">(current)</span></a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="/?tags={{parse.quote(query_tags, safe='')}}&page={{page + 1}}">{{page+1}}</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="/?tags={{parse.quote(query_tags, safe='')}}&page={{page + 1}}">Next</a></li>
                    </ul>
                </nav>
            {% else %}
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link"
                                                 href="/?tags={{parse.quote(query_tags)}}&page={{page - 1}}">Previous</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="/?tags={{parse.quote(query_tags)}}&page={{page - 1}}">{{page-1}}</a></li>
                        <li class="page-item active"><a class="page-link"
                                                        href="#">{{page}}<span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}
        <script>
            var tags = {{ tags|tojson }};

            var tagsObj = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.whitespace,
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              local: tags
            });

            $('#tags').tagsinput({
                typeaheadjs:({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },{
                    source: tagsObj.ttAdapter()
                })
            });
        </script>
{% endblock %}