{% extends "layout.html" %}

{% block title %}
    My Profile
{% endblock %}

{% block main %}
        <div class="container">
            <div class="row">
                <div class="col-6" style="text-align: right;">
                    <p class="lead">Name: </p>
                </div>
                <div class="col-6" style="border-left: 1px solid #ddd;text-align: left;">
                    <p class="lead">{{user.name|escape}}</p>
                </div>
            </div>
            <form action="/profile" method="POST">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <p></p>
                        <p class="lead">About Me: </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: left;">
                         <div class="form-group">
                             <textarea name="about" class="form-control"
                                       style="border: 1px solid #ddd;
                                       border-radius: 3px;
                                       text-align: left;
                                       width: 100%;
                                       margin-top: 10px;
                                       min-height: 200px;
                                       padding: 5px">{{user.about|escape}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <p></p>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Update About Me</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col" style="text-align: center;">
                    <p class="lead">Update Password</p>
                </div>
            </div>
            <form action="/changepass" method="POST">
                <div class="row">
                    <div class="col-3 offset-md-3" style="text-align: right;">
                        <p class="lead">Password: </p>
                    </div>
                    <div class="col-6" style="border-left: 1px solid #ddd;text-align: left;">
                        <div class="form-group">
                            <input class="form-control" name="password" id="password" placeholder="Password" type="password" onkeyup="validate()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 offset-md-3" style="text-align: right;">
                        <p class="lead">New Password: </p>
                    </div>
                    <div class="col-6" style="border-left: 1px solid #ddd;text-align: left;">
                        <div class="form-group">
                            <input class="form-control" name="new_password" id="new_password" placeholder="New Password" type="password" onkeyup="validate()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 offset-md-3" style="text-align: right;">
                        <p class="lead">Confirm New Password: </p>
                    </div>
                    <div class="col-6" style="border-left: 1px solid #ddd;text-align: left;">
                        <div class="form-group">
                            <input class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm New Password" type="password" onkeyup="validate()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <p></p>
                        <div class="form-group">
                            <button class="btn btn-primary" id="update" type="submit" disabled="true">Update Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script>
            let button = document.querySelector("#update");
            let password = document.querySelector("#new_password");
            let confirm_password = document.querySelector("#confirm_password");
            function validate()
            {

                if (new_password.value.length > 6 && new_password.value == confirm_password.value)
                {
                    button.disabled = false;
                }
                else
                {
                    button.disabled = true;
                }
            }
            document.getElementById("about").style.height="1px";
            document.getElementById("about").style.height=(25+document.getElementById("about").scrollHeight)+"px";
        </script>
{% endblock %}